<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.techtown.schooler">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Account.AccountActivity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".Channels.ChannelActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Signup.CheckPasswordActivity"
            android:windowSoftInputMode="adjustResize"
            android:screenOrientation="portrait"/>
        <activity android:name=".Channels.ChannelHandling.MemberAllowActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Channels.ChannelHandling.EditChannelAcitivty"
            android:windowSoftInputMode="adjustResize"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Account.JoinedChannel"
            android:screenOrientation="portrait"/>
        <activity android:name=".Channels.ChannelsInfo"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ChannelEvents.CreateChannelEvents"
            android:theme="@style/AppTheme2"
            android:windowSoftInputMode="adjustResize"
            android:screenOrientation="portrait"/>
        <activity android:name=".ChannelEvents.ChannelContent"
            android:theme="@style/AppTheme2"
            android:screenOrientation="portrait"/>
        <activity android:name=".ChannelEvents.UpdateEvents"
            android:screenOrientation="portrait"/>
        <activity android:name=".Channels.ChannelHandling.UploadChannelsThumbnail"
            android:screenOrientation="portrait"/>
        <activity android:name=".Channels.CreateChannel.FinishCreateChannels"
            android:screenOrientation="portrait"/>
        <activity android:name=".Channels.CreateChannel.CreateChannel"
            android:screenOrientation="portrait"/>
        <activity android:name=".Signup.FinishSignup"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Signup.PhoneNumberActivity"
            android:windowSoftInputMode="adjustResize"
            android:screenOrientation="portrait"/>
        <activity android:name=".Signup.NotifyActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Signup.PasswordActivity"
            android:windowSoftInputMode="adjustResize"
            android:screenOrientation="portrait"/>
        <activity android:name=".Signup.ClassActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Signup.SchoolActivity"
            android:windowSoftInputMode="adjustResize"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Signup.IdActivity"
            android:windowSoftInputMode="adjustResize"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Signup.EmailActivity"
            android:windowSoftInputMode="adjustResize"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Signup.SignupOneActivity"
            android:parentActivityName=".StartMemberActivity.LoginActivity"
            android:windowSoftInputMode="adjustResize"
            android:screenOrientation="portrait"/>
        <activity android:name=".SplashActivity.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"
                    android:screenOrientation="portrait"/>

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".StartMemberActivity.LoginActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"/>
    </application>

</manifest>